<header #headerRef class="bg-white bg-opacity-90 backdrop-blur-md fixed z-20 border-b border-b-gray-light">
  <nav aria-label="Global" class="transition-all duration-300 ease-in-out mx-auto flex items-center justify-between p-3 lg:px-8">
    <div class="flex lg:hidden">
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Open main menu</span>
        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16"/>
        </svg>
      </button>
    </div>

    <div class="hidden lg:flex lg:items-center lg:flex-1 lg:justify-end gap-x-2">
      <div class="font-semibold border-[1px] border-green-200 rounded-md flex flex-row items-center text-sm" *kaHasRoles="['hospital_admin']; checkRealm:true">
        <span class="bg-green-100 text-green-950 py-1 px-2 text-right">Hospital</span>
        <span class="py-1 px-2 text-left capitalize">{{businessName}}</span>
      </div>
      <div class="font-medium border-[1px] border-green-200 rounded-md flex flex-row items-center text-sm" *kaHasRoles="['superadmin']; checkRealm:true">
        <span class="bg-green-100 text-green-950 py-1 px-2 text-right">Super Admin</span>
      </div>
      <div class="flex flex-row justify-center items-center gap-x-1 font-medium capitalize bg-app-50 text-app-700 px-3 py-1 text-sm rounded-md">
        <span class="size-1.5 rounded-full bg-green-500"></span>
        <span>
          @if(authService.hasRole(RealmRoleEnum.DOCTOR)) {
            Dr.
          }
          {{userName}}
        </span>
      </div>
      <button (click)="logout()" class="text-sm/6 font-semibold text-gray-900 cursor-pointer px-3 py-1 hover:bg-blue-50">
        Log out <span aria-hidden="true">&rarr;</span>
      </button>
    </div>
  </nav>
</header>
