
<div class="w-full bg-white p-6 rounded shadow space-y-6">
  <form [formGroup]="patientCaseForm">
    <!-- Patient Details -->
    <div class="space-y-4 block mb-5">
      <h2 class="text font-semibold">Patient Details</h2>
      <hr/>

      <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-col">
          <label class="text-sm">Patient ID</label>
          <input
            formControlName="patientId"
            type="text"
            class="border border-gray-300 rounded p-2 mt-1.5"
          />
          @if (patientCaseForm.get('patientId')?.invalid && patientCaseForm.get('patientId')?.touched) {
            <span class="text-red-500 text-sm mt-2">Patient ID is required</span>
          }
        </div>

        <div class="flex flex-col">
          <label class="text-sm">Patient Name</label>
          <input
            formControlName="name"
            type="text"
            class="border border-gray-300 rounded p-2 mt-1.5"
          />
          @if (patientCaseForm.get('name')?.touched && patientCaseForm.get('name')?.invalid) {
            <div class="text-sm text-red-500 mt-2">
              Name is required
            </div>
          }
        </div>
      </div>
    </div>

    <!-- File Upload Section -->
    <h2 class="text-sm font-semibold mb-3">DICOM Imaging Slice Upload (.dcm format)</h2>
    <div class="bg-gray-50 p-5 rounded border-gray-100 space-y-4">
      <div class="flex justify-end">
        <label class="cursor-pointer bg-blue-600 text-white px-4 py-2 text-sm rounded hover:bg-blue-700">
          + Add Files
          <input type="file" multiple class="hidden" (change)="onFilesSelected($event)" />
        </label>
      </div>

      <!-- File Cards -->
      <div class="space-y-3">
        <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-4">
          @for (file of caseFiles(); track file.id) {
            <app-file-card
              [showRemoveBtn]="getSubmittedStatus()"
              [file]="file"
              (onClickRemove)="removeFile(file.id)"
            />
          }
        </div>
      </div>
    </div>
    @if(showFileError() && caseFiles().length < 1) {
      <div class="text-red-500 text-sm mt-2">Please add some files.</div>
    }

    <!-- Submit Button -->
    <button (click)="onSubmit()" class="w-auto px-4 mt-5 bg-green-700 text-sm text-white py-2 rounded hover:bg-green-600 transition">
    Submit Patient Case
  </button>
  </form>
</div>
