<div class="w-full bg-white p-6 rounded shadow space-y-6">
  <form [formGroup]="patientCaseForm">
    <!-- Patient Details -->
    <div class="space-y-4 block mb-5">
      <h2 class="text font-semibold">Patient Details</h2>
      <hr/>

      <div class="grid grid-cols-2 gap-4">
        <div class="flex flex-col">
          <label class="text-sm">Patient ID</label>
          <input
            formControlName="patientId"
            type="text"
            class="border border-gray-300 rounded p-2 mt-1.5"
          />
          @if (patientCaseForm.get('patientId')?.invalid && patientCaseForm.get('patientId')?.touched) {
            <span class="text-red-500 text-sm mt-2">Patient ID is required</span>
          }
        </div>

        <div class="flex flex-col">
          <label class="text-sm">Patient Name</label>
          <input
            formControlName="name"
            type="text"
            class="border border-gray-300 rounded p-2 mt-1.5"
          />
          @if (patientCaseForm.get('name')?.touched && patientCaseForm.get('name')?.invalid) {
            <div class="text-sm text-red-500 mt-2">
              Name is required
            </div>
          }
        </div>
      </div>
    </div>

    <!-- File Upload Section -->
    <h2 class="text-sm font-semibold mb-3">DICOM Imaging Slice Upload (.dcm format)</h2>
    <div class="bg-gray-50 p-5 rounded border-gray-100 space-y-4">
      <div class="flex justify-end">
        <label class="cursor-pointer bg-blue-600 text-white px-4 py-2 text-sm rounded hover:bg-blue-700">
          + Add Files
          <input type="file" multiple class="hidden" (change)="onFilesSelected($event)" />
        </label>
      </div>

      <!-- File Cards -->
      <div class="space-y-3">

        @for (file of caseFiles(); track file.id) {
          <!-- File Card 1 -->
          <div class="flex items-center justify-between bg-white p-4 rounded shadow">

            <div>
              <p class="font-medium">{{ file.name }}</p>
              <p class="text-sm text-gray-500">{{ file.size / 1024 | number:'1.0-0' }} KB</p>
            </div>
            @if(getSubmittedStatus()) {
              <div class="w-1/2">
                <div class="w-full bg-gray-200 rounded-full h-2">
                  <div class="bg-green-500 h-2 rounded-full" [style.width.%]="file.progress()"></div>
                </div>
                <p class="text-xs text-right text-gray-500 mt-1">{{ file.progress() }}%</p>
              </div>
            } @else {
              <button
                type="button"
                (click)="removeFile(file.id)"
                class="text-red-600 font-medium bg-red-50 px-3 py-1.5 text-xs rounded hover:bg-red-100 transition flex items-center gap-1"
              >
                Remove
              </button>
            }
          </div>
        }
      </div>
    </div>
    @if(showFileError() && caseFiles().length < 1) {
      <div class="text-red-500 text-sm mt-2">Please add some files.</div>
    }

    <!-- Submit Button -->
    <button (click)="onSubmit()" class="w-auto px-4 mt-5 bg-green-700 text-sm text-white py-2 rounded hover:bg-green-600 transition">
    Submit Patient Case
  </button>
  </form>
</div>
