<aside
  #sidebarRef
  [ngClass]="{
    'transition-all relative duration-300 ease-in-out h-full z-30 bg-white border-r-[0.5px] border-r-gray-200': true,
    'lg:w-[100px] w-[100px] md:w-[100px] min-w-[112px]': isCollapsed(),
    'lg:w-58 w-58 md:w-72 min-w-[100px]': !isCollapsed()
  }"
>
  <div #fixedDivRef class="fixed">
    <button
      class="absolute z-40 top-6 right-[-10px] text-white"
      (click)="setToggleState()"
    >
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
           class="cursor-pointer size-8 p-2 hover:bg-gray-100 text-gray-600 rounded-full bg-white drop-shadow-md">
        <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
      </svg>
    </button>

    <div class="p-4">
      <div
        class="flex lg:flex-1"
        [ngClass]="{ 'justify-center': isCollapsed(), 'justify-start': !isCollapsed() }"
      >
        <a href="/admin/dashboard" class="-m-1.5 p-1.5 flex flex-row items-center gap-2 align-middle">
          <span class="sr-only">MX Service</span>
          <img alt="Logo"
               [ngSrc]="isCollapsed()? 'assets/mx-logo.png': 'assets/logo.png'"
               width="100"
               height="400"
               class="h-10 w-auto" />
        </a>
      </div>
    </div>

    <nav>
      <ul class="text-sm text-gray-500">
        <app-doctor-admin-sidebar-menu/>
      </ul>
    </nav>
  </div>
</aside>
